
@{
    ViewData["Title"] = "Trails";
}
<br />
<div class="border p-3" style="border-radius:10px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-warning">Trails List</h2>
        </div>
        <div class="col-6">
            <a class="btn btn-success float-end" asp-action="Upsert"><i class="fas fa-plus"></i> Create New</a>
        </div>
    </div>
    <br /><br />
    <div class="bg-info p-3">
        <table id="tableData" class="table table-light table-striped table-bordered w-100">
            <thead>
                <tr>
                    <th>National Park</th>
                    <th>Trail Name</th>
                    <th>Distance</th>
                    <th>Elevation</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    </div>

    @section Scripts{
        <script src="~/js/trail.js"></script>
    }

